body{
    background-color: azure;
    text-align: center;
    height: 90vh;
}

#carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#carousel {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#single-img {
    width: 40vw;
    height: 50vh;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 4rem;
    height: 45vh;
    width: 10vw;
    border-radius: 8px;
    border: none;
    margin: auto;
}

img {
    width: 280px;
    height: 40vh;
}

#circleDiv{
    display: flex;
    gap: 2vw;
    justify-content: center;

}

.selectedCircle {
    background-color: black;
}